{% load static %}
<div class="row">
		<div class="col-md-12">
			<blockquote class="blockquote">
				<p class="mb-0">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
				</p>
				<footer class="blockquote-footer">
					Someone famous in <cite>Source Title</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>